.DS_Store
.ipynb_checkpoints
models/1000-samples--1-epochs.h5
models/1000-samples-augmented--1-epochs.h5
models/1000-samples-augmented--10-epochs.h5
models/1000-samples-bottleneck--10-epochs.h5
models/olds
models/VGG16
models/with-bottleneck/1000-samples--11-epochs.h5
models/with-bottleneck/1000-samples--12-epochs.h5
models/with-bottleneck/1000-samples--13-epochs.h5
models/with-bottleneck/1000-samples--14-epochs.h5
models/with-bottleneck/1000-samples--15-epochs.h5
models/with-bottleneck/1000-samples--16-epochs.h5
models/with-bottleneck/1000-samples--17-epochs.h5
models/with-bottleneck/1000-samples--18-epochs.h5
models/with-bottleneck/1000-samples--19-epochs.h5
models/with-bottleneck/1000-samples--2-epochs.h5
models/with-bottleneck/1000-samples--20-epochs.h5
models/with-bottleneck/1000-samples--21-epochs.h5
models/with-bottleneck/1000-samples--22-epochs.h5
models/with-bottleneck/1000-samples--23-epochs.h5
models/with-bottleneck/1000-samples--24-epochs.h5
models/with-bottleneck/1000-samples--25-epochs.h5
models/with-bottleneck/1000-samples--26-epochs.h5
models/with-bottleneck/1000-samples--27-epochs.h5
models/with-bottleneck/1000-samples--28-epochs.h5
models/with-bottleneck/1000-samples--29-epochs.h5
models/with-bottleneck/1000-samples--3-epochs.h5
models/with-bottleneck/1000-samples--30-epochs.h5
models/with-bottleneck/1000-samples--31-epochs.h5
models/with-bottleneck/1000-samples--32-epochs.h5
models/with-bottleneck/1000-samples--33-epochs.h5
models/with-bottleneck/1000-samples--34-epochs.h5
models/with-bottleneck/1000-samples--35-epochs.h5
models/with-bottleneck/1000-samples--36-epochs.h5
models/with-bottleneck/1000-samples--37-epochs.h5
models/with-bottleneck/1000-samples--38-epochs.h5
models/with-bottleneck/1000-samples--39-epochs.h5
models/with-bottleneck/1000-samples--4-epochs.h5
models/with-bottleneck/1000-samples--40-epochs.h5
models/with-bottleneck/1000-samples--41-epochs.h5
models/with-bottleneck/1000-samples--42-epochs.h5
models/with-bottleneck/1000-samples--43-epochs.h5
models/with-bottleneck/1000-samples--44-epochs.h5
models/with-bottleneck/1000-samples--45-epochs.h5
models/with-bottleneck/1000-samples--46-epochs.h5
models/with-bottleneck/1000-samples--47-epochs.h5
models/with-bottleneck/1000-samples--48-epochs.h5
models/with-bottleneck/1000-samples--49-epochs.h5
models/with-bottleneck/1000-samples--5-epochs.h5
models/with-bottleneck/1000-samples--51-epochs.h5
models/with-bottleneck/1000-samples--52-epochs.h5
models/with-bottleneck/1000-samples--53-epochs.h5
models/with-bottleneck/1000-samples--54-epochs.h5
models/with-bottleneck/1000-samples--55-epochs.h5
models/with-bottleneck/1000-samples--56-epochs.h5
models/with-bottleneck/1000-samples--57-epochs.h5
models/with-bottleneck/1000-samples--58-epochs.h5
models/with-bottleneck/1000-samples--59-epochs.h5
models/with-bottleneck/1000-samples--6-epochs.h5
models/with-bottleneck/1000-samples--60-epochs.h5
models/with-bottleneck/1000-samples--61-epochs.h5
models/with-bottleneck/1000-samples--62-epochs.h5
models/with-bottleneck/1000-samples--63-epochs.h5
models/with-bottleneck/1000-samples--64-epochs.h5
models/with-bottleneck/1000-samples--65-epochs.h5
models/with-bottleneck/1000-samples--66-epochs.h5
models/with-bottleneck/1000-samples--67-epochs.h5
models/with-bottleneck/1000-samples--68-epochs.h5
models/with-bottleneck/1000-samples--69-epochs.h5
models/with-bottleneck/1000-samples--7-epochs.h5
models/with-bottleneck/1000-samples--70-epochs.h5
models/with-bottleneck/1000-samples--71-epochs.h5
models/with-bottleneck/1000-samples--72-epochs.h5
models/with-bottleneck/1000-samples--73-epochs.h5
models/with-bottleneck/1000-samples--74-epochs.h5
models/with-bottleneck/1000-samples--75-epochs.h5
models/with-bottleneck/1000-samples--76-epochs.h5
models/with-bottleneck/1000-samples--77-epochs.h5
models/with-bottleneck/1000-samples--78-epochs.h5
models/with-bottleneck/1000-samples--79-epochs.h5
models/with-bottleneck/1000-samples--8-epochs.h5
models/with-bottleneck/1000-samples--80-epochs.h5
models/with-bottleneck/1000-samples--81-epochs.h5
models/with-bottleneck/1000-samples--82-epochs.h5
models/with-bottleneck/1000-samples--83-epochs.h5
models/with-bottleneck/1000-samples--84-epochs.h5
models/with-bottleneck/1000-samples--85-epochs.h5
models/with-bottleneck/1000-samples--86-epochs.h5
models/with-bottleneck/1000-samples--87-epochs.h5
models/with-bottleneck/1000-samples--88-epochs.h5
models/with-bottleneck/1000-samples--89-epochs.h5
models/with-bottleneck/1000-samples--9-epochs.h5
models/with-bottleneck/1000-samples--90-epochs.h5
models/with-bottleneck/1000-samples--91-epochs.h5
models/with-bottleneck/1000-samples--92-epochs.h5
models/with-bottleneck/1000-samples--93-epochs.h5
models/with-bottleneck/1000-samples--94-epochs.h5
models/with-bottleneck/1000-samples--95-epochs.h5
models/with-bottleneck/1000-samples--96-epochs.h5
models/with-bottleneck/1000-samples--97-epochs.h5
models/with-bottleneck/1000-samples--98-epochs.h5
models/with-bottleneck/1000-samples--99-epochs.h5
models/with-data-augmentation/1000-samples-augmented--2-epochs.h5
models/with-data-augmentation/1000-samples-augmented--3-epochs.h5
models/with-data-augmentation/1000-samples-augmented--4-epochs.h5
models/with-data-augmentation/1000-samples-augmented--5-epochs.h5
models/with-data-augmentation/1000-samples-augmented--6-epochs.h5
models/with-data-augmentation/1000-samples-augmented--7-epochs.h5
models/with-data-augmentation/1000-samples-augmented--8-epochs.h5
models/with-data-augmentation/1000-samples-augmented--9-epochs.h5
models/without-data-augmentation/1000-samples--11-epochs.h5
models/without-data-augmentation/1000-samples--12-epochs.h5
models/without-data-augmentation/1000-samples--13-epochs.h5
models/without-data-augmentation/1000-samples--14-epochs.h5
models/without-data-augmentation/1000-samples--15-epochs.h5
models/without-data-augmentation/1000-samples--16-epochs.h5
models/without-data-augmentation/1000-samples--17-epochs.h5
models/without-data-augmentation/1000-samples--18-epochs.h5
models/without-data-augmentation/1000-samples--19-epochs.h5
models/without-data-augmentation/1000-samples--2-epochs.h5
models/without-data-augmentation/1000-samples--20-epochs.h5
models/without-data-augmentation/1000-samples--21-epochs.h5
models/without-data-augmentation/1000-samples--22-epochs.h5
models/without-data-augmentation/1000-samples--23-epochs.h5
models/without-data-augmentation/1000-samples--24-epochs.h5
models/without-data-augmentation/1000-samples--25-epochs.h5
models/without-data-augmentation/1000-samples--26-epochs.h5
models/without-data-augmentation/1000-samples--27-epochs.h5
models/without-data-augmentation/1000-samples--28-epochs.h5
models/without-data-augmentation/1000-samples--29-epochs.h5
models/without-data-augmentation/1000-samples--3-epochs.h5
models/without-data-augmentation/1000-samples--30-epochs.h5
models/without-data-augmentation/1000-samples--31-epochs.h5
models/without-data-augmentation/1000-samples--4-epochs.h5
models/without-data-augmentation/1000-samples--5-epochs.h5
models/without-data-augmentation/1000-samples--6-epochs.h5
models/without-data-augmentation/1000-samples--7-epochs.h5
models/without-data-augmentation/1000-samples--8-epochs.h5
models/without-data-augmentation/1000-samples--9-epochs.h5
